{% extends "blog/layout.html" %}
{% block content %}
    <div class="m-auto">
        <div class="row">
            {% for post in post %}
            <div class="post-card">
                <div class="card">
                    <div class="card-header text-uppercase">
                        <a href="{% url 'post_detail' post.id %}">{{post.title}}</a>
                    </div>
                    <div class="card-body">
                        {{post.content}}
                        <div class="card-footer mt-3">
                            <div class="flex-container">
                                <div class="blog-author">
                                    {{post.author}}
                                </div>
                                <div class="blog-date">
                                    <small class="text-muted">
                                        {{post.date_posted}}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}